{% extends "base.html" %}

{% block content %}
    <h1>BLOGZILLA</h1>
    <form method='post'>
        <label>
            Title: 
            <input type='text' name='title' />
        </label>
        <label>
            New Post:
            <input <textarea rows="20" cols="60" name='task'></textarea>
        </label>
        <input type="submit" value='Submit Post' />
    </form>

    <hr />

    {% if tasks|length == 0 %}
    <p>No tasks yet</p>
    {% else %}

        <ul>
            {% for task in tasks %}
            <li>{{task.name}}
                <form method="POST" action="/delete-task" style="display:inline-block;">
                    <input type="hidden" name="task-id" value="{{task.id}}" />
                    <input type="submit" value="Delete" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

    

    <ul>
        {% for task in completed_tasks %}
        <li>{{task.name}}</li>
        {% endfor %}
    </ul>

{% endblock %}